 <nav class="navbar">
        
    <a class="navbar-brand flex-grow-1" href="#">
        <img src="assets/logo.png" class="my-1 mx-2" alt="Wikki">
    </a>
    <div class="col">
            <div class="searchlink" id="searchlink">
                <i class="fas fa-search fa-2x"></i>
            </div>
    </div>
        <div class="col-3">
            <div class="profile media p-2">
                <img src="assets/Retângulo 1553.png" alt="Avatar" class="mr-2">
                <div class="media-body">
                    <p class="h6 m-0">Usuário Teste</p>
                    <p> </p>
                </div>
                 
                <i class="fas fa-bars fa-2x"></i>
                
            </div>
        </div>
</nav>

<div class="container-fluid">

    <div class="row no-gutters full-banner">

            <div class="texto-principal col-24 text-white">
                <div class="p-4 d-flex justify-content-start h-100">
                    <div>
                        <p id="chamada">Elevação e Escoamento</p>
                        <h1 class="h3">SOLVER LOREM IPSOM</h1>
                        <small class="d-flex my-2">
                            <span class="mr-3">2020</span>
                            <span class="mr-3">|</span>
                            <span>Wikki Brasil</span>
                        </small>
                        <p class="texto-principal d-none col-sm d-lg-block text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonuy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dol sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed et diam nonumy eirmod tempor invidunt ut labore et dolore magna saas e aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dume.</p>
                        <button type="button" id="entrar" class="btn btn-outline-success text-white">Entrar</button>
                        <button type="button" id="salvar-item" style="margin-left: 10px;" class="btn btn-outline-secondary text-white"><i class="fas fa-plus-circle"></i>Salvar Item</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-2 list-titles">

            <h2 class="h4">Fluido   </h2>

        
            <div class="d-flex flex-nowrap overflow-hidden">
        
                <div class="card title-item">
                    
                    <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                    <div class="card-body">
                        <div class="card-title">SOLVER-TR7</div>
                        <span class="mr-3">2020</span>
                        <span class="mr-3">|</span>
                        <span>Wikki Brasil</span>
                    </div>
                </div>

                <div class="card title-item">
                    
                    <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                    <div class="card-body">
                        <div class="card-title">SOLVER-TR7</div>
                        <span class="mr-3">2020</span>
                        <span class="mr-3">|</span>
                        <span>Wikki Brasil</span>
                    </div>

                </div>
                
                <div class="card title-item">
                    
                    <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                   
                </div>
            
            </div>

        </div>

        <div class="p-3 list-titles">
        
            <h2 class="h4">Cimentação</h2>
        
            <div class="d-flex flex-nowrap overflow-hidden">
        
                <div class="card title-item">
                    
                    <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                    <div class="card-body">
                        <div class="card-title">SOLVER-TR7</div>
                        <span class="mr-3">2020</span>
                        <span class="mr-3">|</span>
                        <span>Wikki Brasil</span>
                    </div>
                </div>

                <div class="card title-item">
                    
                    <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                    <div class="card-body">
                        <div class="card-title">SOLVER-TR7</div>
                        <span class="mr-3">2020</span>
                        <span class="mr-3">|</span>
                        <span>Wikki Brasil</span>
                    </div>
                </div>
                
                <div class="card title-item">
                    
                    <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                   <div class="card-body">
                        <div class="card-title">SOLVER-TR7</div>
                        <span class="mr-3">2020</span>
                        <span class="mr-3">|</span>
                        <span>Wikki Brasil</span>
                    </div>
                </div>
            
            </div>
        
        </div>

    
    </div>

    <footer class="row no-gutters p-4">


    </footer>

    <script>
        $(function() {
            $('#searchlink').on('click', function(e) {
                $(this).toggleClass('open');
            });
        });
    </script>