<nav class="navbar">
        
    <a class="navbar-brand flex-grow-1" href="#">
        <img src="assets/logo.png" class="my-1 mx-2" alt="Wikki">
    </a>
    <div class="col">
            <div class="searchlink" id="searchlink">
                <i class="fas fa-search fa-2x"></i>
            </div>
    </div>
    <div class="col-3">
        <div class="profile media p-2 text-center">
            <img src="assets/Retângulo 1553.png" alt="Avatar" class="mr-2">
            <div class="media-body">
                <p class="h6 m-0">Usuário Teste</p>
                <p> </p>
            </div> 
            <i class="fas fa-bars fa-2x"></i>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row no-gutters full-banner">

        <div class="texto-principal col-24 text-white mt-4">
            <div class="p-4 d-flex justify-content-start h-100">
                <div>
                    <p id="chamada">Elevação e Escoamento</p>
                    <h1 class="h3">SOLVER LOREM IPSOM</h1>
                    <small class="d-flex my-2">
                            <span class="mr-3">2020</span>
                            <span class="mr-3">|</span>
                            <span>Wikki Brasil</span>
                    </small>
                    <p class="texto-principal d-none col-sm d-lg-block text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonuy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dol sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed et diam nonumy eirmod tempor invidunt ut labore et dolore magna saas e aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dume.</p>
                    <button type="button" id="entrar" class="btn btn-outline-success text-white">Entrar</button>
                    <button type="button" id="salvar-item" style="margin-left: 10px;" class="btn btn-outline-secondary text-white"><i class="fas fa-plus-circle"></i>Salvar Item</button>
                </div>
            </div>
        </div>

        <section id="grupo-carousel" class="carousel slider container-fluid" data-ride="carousel" id="postsCarousel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 text-left">
                        <h2 >Fluido</h2>
                    </div>
                    <div class="col-2 text-right">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-card1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-card1" data-slide-to="1"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container carousel-inner p-t-0 m-t-0" id="carousel-card1">
                <div class="row row-equal carousel-item active m-t-0" id="slide0">
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/app_turbo_himass_250px.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/99fe989453ededc2bffbce14e559aec2.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/zoomParticle.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-equal carousel-item m-t-0" id="slide1">
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/f25431f6b60e0a04c81a136d78532401.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/1a98b518cab0597536b9b5d4e2c040f1.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev setas" href="#carousel-card1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next setas" href="#carousel-card1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <section id="grupo-carousel" class="carousel slider container-fluid" data-ride="carousel" id="postsCarousel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 text-left">
                        <h2 >Cimentação</h2>
                    </div>
                    <div class="col-2 text-right">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-card1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-card1" data-slide-to="1"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="container carousel-inner p-t-0 m-t-0" id="carousel-card1">
                <div class="row row-equal carousel-item active m-t-0" id="slide0">
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-equal carousel-item m-t-0" id="slide1">
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card title-item m-0">                    
                            <img src="assets/42622456033259c1a77331051df8a829.png" alt="Título">
                            <div class="card-body">
                                <div class="card-title">SOLVER-TR7</div>
                                <span class="mr-3">2020</span>
                                <span class="mr-3">|</span>
                                <span>Wikki Brasil</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev setas" href="#slide0" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next setas" href="#slide1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

    <footer class="container-fluid">
        <div class="row rodape">
            
            <div class="col-4 text-right">
                <img src="assets/logo.png" class="imagem-rodape my-1 mx-2" alt="Wikki">
            </div>
            <div class="col-2">
            WIIKKI BRASIL 2020 - 
            </div>
            <div class="col-4 text-left">
                TODOS OS DIREITOS RESERVADOS
            </div>
        </div>
    </footer>

    <script>
        $(function() {
            $('#searchlink').on('click', function(e) {
                $(this).toggleClass('open');
            });
        });
    </script>